@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    display: none;
}

 button:focus {
    outline: none;
}

#counter {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    font-size: 15px;
    color: grey;
}

.answers-container {
    color: white;
    display: grid;
    margin: 5px;
}

.question-container {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-bottom: 20px;
    
}


.btn {
    border-radius: 0%;
    background-color: rgb(155, 127, 255);

}

button {
    background-color: rgb(192, 192, 192);
}



.answer-btn {
    background-color: transparent;
    border-width: 1px;
    border-color: #bababa;
    border-style: solid;
    width: 200px;
    height: 40px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto 
    

}

.answer-btn-1-container {
    display: grid;
    grid-template-columns: auto auto auto;
  
    
}



.answer-btn-2-container {
    display: grid;
    grid-template-columns: auto auto;
    
}

.answer-btn-3-container {
    display: grid;
    grid-template-columns: auto auto;
    
}

.answer-btn-4-container {
    display: grid;
    grid-template-columns: auto auto;
    
}

.answer-btn-5-container {
    display: grid;
    grid-template-columns: auto auto;
    
}

.control-panel {
    position: absolute;
    
}


#submit-btn {
    height: 40px;
    width: 200px;
    background-color: #2dc1bc;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    margin-left: 50%;
    display: block;
    transform: translateX(-50%);
    margin-right: auto;
    margin-top: 20px;
    
}

#submit-btn:disabled {
    background-color: #e7e7e7;
}

#submit-btn:hover:enabled{
background-color: #568887;
}



